.owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-120%);
    right: 0;
    font-size: 80px;
    margin-left: 20px;
    background: black !important;
    opacity: 0.5;
    margin: 0 !important;
    width: 50px;
    height: 150px;
    border-radius: 0 !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}
.owl-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-120%);
    left: 0;
    font-size: 80px;
    margin-left: 20px;
    background: black !important;
    opacity: 0.5;
    margin: 0 !important;
    width: 50px;
    height: 150px;
    border-radius: 0 !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.owl-next span{
    font-size: 50px;
    color: white;
}
.owl-prev span{
    font-size: 50px;
    color: white;
}
.owl-dots{
    position: absolute;
    bottom: 30px;
    left: 40px;
}
.owl-dot.active{
    transform: scale(1.6);
    transition: transform 0.5s ease-in-out;
}
.owl-dot span{
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
    background: #3D8CDF !important;
}
.owl-dot.active span{
    background-color: #2C5364 !important;
}